@page "/Login"
@inject Blazored.SessionStorage.ISessionStorageService sessionStorage

<PageTitle>Login</PageTitle>

<div class="container">
    <div class="content">
        <form>
            <h1>Login</h1>

            <div class="input-container">
                <input placeholder='Email' name='email' id="email" type="text" />
            </div>

            <div class="input-container">
                <input placeholder='Password' name='password' id="password" type="password" />
            </div>

            <button type='button' @onclick="Authenticate">Login</button>

            <a href='create-account'>Create an account</a>
            <a href='forgot'>Forgot password?</a>
        </form>
    </div>
</div>

@code {
    private async Task Authenticate()
    {
       await sessionStorage.SetItemAsync("@lingvo:token", "dfhjsdhas");
    }
}