
.container {
    height: 100vh;
    display: flex;
}

.content {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.content .login-form {
    width: 380px;
    text-align: center;
    padding-bottom: 80px;
    border-radius: 5px;
    margin: 10px;
    background-color: #ffffff;
}

        .content .login-form h1 {
            margin-bottom: 24px;
        }

        .content .login-form input {
            background: transparent;
            flex: 1;
            border: none;
            outline: none;
        }

        .content .login-form button {
            background: #2196F3;
            height: 56px;
            border-radius: 10px;
            border: 0;
            padding: 0 16px;
            color: #312e38;
            width: 100%;
            font-weight: 500;
            margin-top: 16px;
            transition: background-color 0.2s;
        }

            .content .login-form button:hover {
                background: #03A9F4;
            }

        .content .login-form a {
            color: #000;
            display: block;
            margin-top: 24px;
            text-decoration: none;
            transition: color 0.2s;
        }

            .content .login-form a:hover {
                color: #03A9F4;
            }

.input-container {
    border-radius: 10px;
    border: 1px solid #232129;
    padding: 16px;
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
    .input-container div {
        margin-top: 8px;
    }
    .input-container svg {
        margin-right: 16px;
    }
