@using Blazored.Toast.Configuration
@inject Services.IAuthenticationService AuthenticationService
@inherits LayoutComponentBase
@inject NavigationManager _navManager

@if (_navManager.Uri.Contains("login") || _navManager.Uri.Contains("create-account"))
{
    <div style="background-color: #2196F3">
        @Body
    </div>
    <BlazoredToasts Position="ToastPosition.BottomRight"
                Timeout="10" />
}
else
{
    <div class="page">
        <div class="sidebar">
            <NavMenu />
        </div>

        <main>
            <div class="top-row px-4">
                <a href="/" @onclick="Logout">Log out</a>
            </div>

            <article class="content px-4">
                @Body
            </article>
        </main>
        <BlazoredToasts Position="ToastPosition.BottomRight"
                    Timeout="10" />
    </div>
}

@code {
    private async Task Logout()
    {
        await AuthenticationService.Logout();
    }
}




