@using Blazored.Toast.Configuration
@inject Services.IAuthenticationService AuthenticationService
@inherits LayoutComponentBase
@inject NavigationManager _navManager

@if (_navManager.Uri.Contains("login") || _navManager.Uri.Contains("create-account"))
{
    <div style="background-color: #2196F3">
        <MatThemeProvider Theme="@theme">
            @Body
        </MatThemeProvider>
    </div>
    <MatToastContainer />
}
else
{
    <div class="page">
        <div class="sidebar">
            <NavMenu />
        </div>

        <main>
            <div class="top-row px-4">
            </div>

            <article class="content px-4">
                @Body
            </article>
        </main>
    </div>
    <MatToastContainer />
}

@code {
    private async Task Logout()
    {
        await AuthenticationService.Logout();
    }

    MatTheme theme = new MatTheme()
        {
            Primary = "#00b0ff",
            Secondary = "#40c4ff"       
        };
}




